body, html{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0px 25px 25px 0px   rgba(0,0,0.5);
    padding: 16px 16px 40px;
    text-align: center;
    max-width: 320px;
    
}
.card-img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 24px;
}
.card-title{
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    color: hsl(218, 44%, 22%);
    margin-bottom: 16px;
    max-width: 270px;
}

.card-paragraph{
    font-size: 1.375rem;
    font-weight: 400;
    line-height: normal;
    color: hsl(220, 15%, 55%);
    max-width: 256px;
}

.myButton{
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.myButton:hover{
    background-color: hsl(180, 66%, 59%);
}

.myButton:active{
    background-color: hsl(180, 66%, 39%);
}

.myButton img{
    display: none;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    alt: "Loading icon";
}
.myButton.loading img{
    display: inline-block;
}